# Default owner for everything in the repo
* @revampedplant756

# SDK-specific docs
/cxr-m/ @revampedplant756
/cxr-s/ @revampedplant756
/cxr-l/ @revampedplant756

# YodaOS system docs
/yodaos/docs/ @revampedplant756
