# Default owner for everything in the repo
* @buildwithfenna

# SDK-specific docs
/cxr-m/ @buildwithfenna
/cxr-s/ @buildwithfenna
/cxr-l/ @buildwithfenna

# YodaOS system docs
/yodaos/docs/ @buildwithfenna
